<%= form_with(model: [:admin, organization], local: true) do |form| %>
  <% if organization.errors.any? %>
    <div>
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <%= form.submit class: 'button button-cta' %>
<% end %>
