<%= form_with(model: [:admin, user], local: true) do |form| %>
  <% if user.errors.any? %>
    <div>
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <dl>
    <dt>Id:</dt>
    <dd><%= @user.id %></dd>
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
  </dl>

  <div class="form-group">
    <%= form.label :admin %>
    <%= form.select(:admin, [['True', 'admin'], ['False', false]], { selected: form.object.admin }, { class: 'form-control' }) %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
