<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  
  <head>
    <title><%=t 'site_title' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= webpack_entrypoint_stylesheet_tags 'admin' %>
    <%= webpack_entrypoint_javascript_tags 'admin' %>
    <%= yield :javascript_tags %>
  </head>

  <body class="admin <%= controller_name + " " + controller_name + "-" + action_name %><% unless ENV['HEROKU_ENV'] == 'production' %> admin-non-production-stripes<% end %>">
    <div class="w-full h-screen flex flex-row">
      <nav class="w-60 bg-green-dark text-white overflow-y-auto">
        <div class="py-3 px-6"><%= link_to 'GoClimate Admin', admin_root_path, class: 'text-xl font-semibold' %></div>
        <ul class="flex flex-col">
          <%
            menu_items = [
              {
                controller_name: 'climate_report_invoices',
                path: admin_climate_report_invoices_path,
                title: 'Climate Report Invoices'
              },
              {
                controller_name: 'invoices',
                path: admin_invoices_path,
                title: 'Invoices'
              },
              {
                controller_name: 'projects',
                path: admin_projects_path,
                title: 'Projects'
              },
              {
                controller_name: 'referral_codes',
                path: admin_referral_codes_path,
                title: 'Referral codes'
              },
              {
                controller_name: 'flight_offsets',
                path: admin_flight_offsets_path,
                title: 'Flight offsets'
              },
              {
                controller_name: 'api_keys',
                path: admin_api_keys_path,
                title: 'API Keys'
              },
              {
                controller_name: 'flight_batch',
                path: new_admin_flight_batch_path,
                title: 'Flight Batch'
              },
              {
                controller_name: 'lifestyle_calculators',
                path: admin_lifestyle_calculators_path,
                title: 'Lifestyle Calculators'
              },
              {
                controller_name: 'business_calculators',
                path: admin_business_calculators_path,
                title: 'Business Calculators'
              },
              {
                controller_name: 'units',
                path: admin_units_path,
                title: 'Units'
              },
              {
                controller_name: 'organizations',
                path: admin_organizations_path,
                title: 'Organizations'
              },
              {
                controller_name: 'climate_reports',
                path: admin_climate_reports_path,
                title: 'Climate Reports'
              },
              {
                controller_name: 'users',
                path: admin_users_path,
                title: 'Users'
              }
            ]
          %>
          <% menu_items.each do |menu_item| %>
            <li>
              <%= link_to menu_item[:title], menu_item[:path], class: "w-full h-full block py-3 px-6 hover:bg-green-shade-1 #{'bg-green-shade-1 font-bold' if controller_name == menu_item[:controller_name]}" %></a>
            </li>
          <% end %>
        </ul>
      </nav>

      <section class="relative flex-1 overflow-y-auto p-6">
        <%= yield %>
      </section>
    </div>
  </body>

</html>
